[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pandas = "*"
cython = "*"
cooltools = "*"
cooler = "*"

[requires]
python_version = "3.8"
